<%- include("head.ejs") %>

    <main>
        <div class = "back" onclick="location.href='/all/'">
            <h2>Back</h2>
        </div>
        <h1>
            <%= data.name %>
        </h1>
        <p style = "max-width: 1000px; margin: auto"><%= data.about %></p>
    </main>
</body>

</html>