<%- include("head.ejs") %>

    <main>
        <div class = "back" onclick="location.href='/all/'">
            <h2>Back</h2>
        </div>
        <div>
            <h3>Create account</h3>
            <form action="/all/account/signup" method="POST">
                <div>
                    <input class="text_edit" type="text" name="username" id="username" required minlength="4" maxlength="20" placeholder="Username" disabled/>
                    <input class="text_edit" type="password" name="password" id="password" required minlength="4" maxlength="16" pattern="(?=.*\d).{4,16}" title="Must contain at least one number" placeholder="Password" disabled/>
                    <label for="admin" style="padding-left: 10px;">Admin account</label>
                    <input class="text_edit" type="checkbox" name="admin" id="admin" value=1 disabled />
                </div>
                <div>
                    <button style="background-color: gray; cursor: default;" disabled>Create account</button>
                </div>
            </form>
        </div>
        <br><br><br>
        <hr>
        <h1>OR</h1>
        <br>
        <div>
            <h3>Log in to account</h3>
            <form action="/all/account/login" method="POST">
                <div>
                    <input class="text_edit" type="text" name="login_username" id="login_username" required minlength="4" maxlength="20" placeholder="Username" disabled/>
                    <input class="text_edit" type="password" name="login_password" id="login_password" required minlength="4" maxlength="16" placeholder="Password" disabled/>
                </div>
                <div>
                    <button style="background-color: gray; cursor: default;" disabled>Log in to your account</button>
                </div>
            </form>
        </div>
        <% if (user != undefined && user != null && user != false) { %>
            <form action = "/all/account/logout" method="POST">
            <button style="background-color: #EE1111;">Log out</button>
            </form>
        <% } %>
    </main>
</body>
</html>