<%- include("head.ejs") %>

    <main>
        <div>
            <h1>
                <p>Subsites</p>
            </h1>
            <button style = "display: inline-block;" onclick="location.href='/all/tankmuseum'"><%= mname %></button>
            
            <button style = "display: inline-block;" onclick="location.href='/all/about'"><%= aname %></button>
            
            <button style = "display: inline-block;" onclick="location.href='/all/account'"><%= accname %></button>
        </div>
    </main>
</body>
</html>