<%- include("head.ejs") %>

    <main>
        <div class = "back" onclick="location.href='/all/tankmuseum/edit'">
            <h2>Back</h2>
        </div>
        <div>
            <h2><i>You are not currently in possession of administrator privileges <br> or <br> the tank has not been added by you <br> or <br> you are not logged in</i></h2>
        </div>
    </main>
</body>